@model ASP_CRUD_App.Models.CarCategoryViewModel

@{
    ViewData["Title"] = "Confirm Rental";
}

<div class="page-content">

    <div class="page-content-header">
        <a asp-controller="Home" asp-action="AddVehicle" class="btn btn-outline-secondary">Confirm Rental</a>
        <h1>Please confirm your Rental</h1>
    </div>

    <div class="d-flex flex-wrap gap-4 mx-auto justify-content-around">

            <div class="card" style="width: 20rem;">

                <img src="/Images/Thumbs/@Model.Car.CarImage" class="card-img-top p-3" alt="..." />

                <div class="card-body">
                    <h5 class="card-title fs-4">@Model.Car.Year @Model.Car.Make @Model.Car.Model </h5>
                    <p> <span class="">@Model.Car.Color</span></p>
                    <p class="fs-5 text-success fw-bold">$@Model.Car.Price daily fee</p>

                    @*<a asp-controller="Home" asp-action="ConfirmRental" asp-route-id="@viewModel.CarId" 
                        class="btn btn-primary w-100">Rent this Vehicle</a>*@

                    @*<div class="d-flex justify-content-center">
                        <img src="/Images/Categories/@viewModel.Category.ImageName"
                             class="col-8" alt="@viewModel.Category.CategoryId" />
                    </div>*@

                </div>
            </div>
    </div>

</div>